---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: "Avenir Next", sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$fixed-font-family: "Andale Mono", monospace;
$fixed-font-size:   $base-font-size * 0.95;

$spacing-unit:     30px;

$brand-color:      #F15A29;

$grey-color:       desaturate($brand-color, 85%);
$grey-color-light: lighten($grey-color, 30%);
$grey-color-dark:  darken($grey-color, 30%);

$background-color:          darken($grey-color, 45%);
$background-color-light:    lighten($background-color, 5%);
$background-color-dark:     darken($background-color, 5%);

$text-color:        lighten($grey-color, 40%);
$text-color-dark:   darken($text-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;
