/** Reset some basic elements */
body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, hr, dl, dd, ol, ul, figure { margin: 0; padding: 0; }

/** Basic styling */
html { font: 400 16px/1.5 "Avenir Next", sans-serif; color: #f3f3f3; background-color: #1b1a1a; -webkit-text-size-adjust: 100%; -webkit-font-feature-settings: "kern" 1; -moz-font-feature-settings: "kern" 1; -o-font-feature-settings: "kern" 1; font-feature-settings: "kern" 1; font-kerning: normal; min-height: 100vh; min-width: 100vw; }

body { min-height: 100vh; min-width: 100vw; display: flex; display: -webkit-flex; flex-direction: column; }

/** Set `margin-bottom` to maintain vertical rhythm */
h1, h2, h3, h4, h5, h6, p, blockquote, pre, ul, ol, dl, figure, .highlight, .post-header, .tag-meta, .post-excerpt, .post, .month-list, .post-list, .post-title-list, .tag-list, .year-list, img, .post-item, .tag-item { margin-bottom: 16px; }

@media screen and (max-width: 600px) { h1, h2, h3, h4, h5, h6, p, blockquote, pre, ul, ol, dl, figure, .highlight, .post-header, .tag-meta, .post-excerpt, .post, .month-list, .post-list, .post-title-list, .tag-list, .year-list, img, .post-item, .tag-item { margin-bottom: 8px; } }

.post-item, .tag-item { display: list-item; padding: 16px 16px 0; }

img { margin-left: 16px; margin-right: 16px; }

@media screen and (max-width: 600px) { img { margin-left: 8px; margin-right: 8px; } }

/** Images */
img { max-width: 100%; vertical-align: middle; border: none; float: center; border-radius: 8px; box-shadow: 1px 1px 16px #0e0d0d; }

@media screen and (max-width: 600px) { img { border-radius: 4px; box-shadow: none; } }

/** Figures */
figure > img { display: block; }

figcaption { font-size: 14px; }

/** Lists */
ul, ol { margin-left: 16px; }

li > ul, li > ol { margin-bottom: 0; }

/** Headings */
h1, h2, h3, h4, h5, h6 { font-weight: 400; }

/** Links */
a { color: #F15A29; text-decoration: none; }

a:hover { color: #f3f3f3; text-decoration: underline; }

/** Blockquotes */
blockquote { color: #b5b2b1; font-style: italic; padding-left: 1ex; }

blockquote > :last-child { margin-bottom: 0; }

code, pre { background-color: #1b1a1a; border: 1px solid #0e0d0d; font-family: "Andale Mono", monospace; font-size: 15.2px; overflow-x: auto; }

code { border-radius: 5px; padding: 1px 5px; }

pre { border-radius: 10px; padding: 8px 8px; }

pre > code { border: 0; padding-right: 0; padding-left: 0; }

/** Wrapper */
.wrapper { max-width: -webkit-calc(800px - (16px * 2)); max-width: calc(800px - (16px * 2)); margin-right: auto; margin-left: auto; padding-right: 16px; padding-left: 16px; }

@media screen and (max-width: 600px) { .wrapper { max-width: -webkit-calc(800px - (16px)); max-width: calc(800px - (16px)); padding-right: 8px; padding-left: 8px; } }

/** Clearfix */
.footer-col-wrapper:after, .post-content:after, .post-excerpt:after, .wrapper:after { content: ""; display: block; clear: both; overflow: auto; }

/** Icons */
.icon > svg { display: inline-block; width: 16px; height: 16px; vertical-align: middle; }

.icon > svg path { fill: #908b8a; }

/** Site header */
.site-header { background: #F15A29; min-height: 56px; padding: 0; position: relative; z-index: 1; }

.site-title { color: #1b1a1a; font-size: 26px; font-weight: 300; line-height: 56px; letter-spacing: -1px; margin-bottom: 0; float: left; }

.site-nav { float: right; line-height: 56px; }

.site-nav .menu, .site-nav .menu-item { margin: 0; padding: 0; display: inline-block; }

.site-nav .menu-icon, .site-nav .menu-toggle { display: none; }

.site-nav .menu-item { line-height: 1.5; margin-left: 10px; padding: 3px 6px; border: thin solid #d9400e; border-radius: 5px; list-style-type: none; background-color: #ef4811; }

.site-nav .menu-item:hover { background-color: #F15A29; }

.site-nav .menu-item:hover .page-link { color: #f3f3f3; }

.site-nav .page-link { color: #1b1a1a; }

@media screen and (max-width: 600px) { .site-nav { position: absolute; top: 9px; right: 8px; background-color: #353332; border: 1px solid #0e0d0d; border-radius: 5px; text-align: right; } .site-nav .menu-icon { display: block; float: right; width: 36px; height: 26px; line-height: 0; padding-top: 10px; text-align: center; cursor: pointer; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; } .site-nav .menu-icon > svg { width: 18px; height: 15px; } .site-nav .menu-icon > svg path { fill: #f3f3f3; } .site-nav .menu { clear: both; display: none; padding-bottom: 5px; } .site-nav .menu-toggle:checked + .menu { display: block; } .site-nav .menu-item { background-color: unset; border: 0; border-radius: 0; display: block; padding: 7px 10px 7px 30px; margin: 0; } .site-nav .page-link { color: #F15A29; } }

/** Page content */
.page-content { background-color: #1b1a1a; padding: 16px 0 0; flex-grow: 1; z-index: 0; }

/** Page content */
.page-heading { font-size: 20px; }

.post-list, .post-title-list, .tag-list, .year-list { margin-left: 0px; list-style: none; }

.post-list > li, .post-title-list > li, .tag-list > li, .year-list > li { margin-bottom: 16px; }

.month-list { list-style: none; }

.month-list > li { margin-bottom: none; }

.post-item, .tag-item, .post .post-content { background-color: #282626; padding: 16px 16px 0; border: 1px solid #0e0d0d; border-radius: 16px; box-shadow: 1px 1px 16px #0e0d0d; }

@media screen and (max-width: 600px) { .post-item, .tag-item, .post .post-content { padding: 8px 8px 0; border-radius: 8px; box-shadow: none; } }

.post-meta { flex: none; clear: both; font-size: 14px; color: #b5b2b1; }

div.post-link { flex: 1; font-size: 24px; }

.tag-meta { margin-left: 16px; font-size: 14px; color: #b5b2b1; }

/** Posts */
.post-title { font-size: 42px; letter-spacing: -1px; line-height: 1; }

.post-content h1 { display: none; }

.post-content h2 { font-size: 26px; }

.post-content h3 { font-size: 22px; }

.post-content h4 { font-size: 22px; }

.post-content h5 { font-size: 18px; }

.post-content h6 { font-size: 18px; }

.post-content h2, .post-content h3, .post-content h4, .post-content h5, .post-content h6 { color: #b5b2b1; }

.post-content h2 { border-top: thin solid #b5b2b1; }

.post-content h2, .post-content h3, .post-content h5 { border-bottom: thin solid #b5b2b1; }

.post-content blockquote { border-left: 2px solid #b5b2b1; }

.post-content .clear { clear: both; }

.post-content .right { clear: right; float: right; margin-right: 0px; }

.post-content .left { clear: left; float: left; margin-left: 0px; }

.post-content .max25 { max-width: 25%; }

.post-content .max50 { max-width: 50%; }

@media screen and (max-width: 600px) { .post-content .left, .post-content .right { float: none; display: block; max-width: 100%; } .post-content .max25 { max-width: 25%; } .post-content .left.max25 { float: left; display: inline; } .post-content .right.max25 { float: right; display: inline; } }

.post-content .spoiler { color: #1b1a1a; font-style: unset; background-color: #1b1a1a; }

.post-content .emoji { border: none; margin: 0px; padding: 0px; box-shadow: none; }

.footnotes { border-top: thin solid #F15A29; padding-top: 4px; color: #b5b2b1; margin-top: 16px; }

.pagination { display: flex; flex-direction: row; justify-content: center; min-width: 100%; margin-bottom: 16px; }

.pagination .menu-item { border: thin solid #0e0d0d; background-color: #282626; border-radius: 5px; padding: 3px 5px; margin: 0 5px; flex-basis: 3em; display: flex; flex-direction: row; justify-content: center; }

.pagination .menu-item.focus, .pagination .menu-item:hover { background-color: #353332; color: #f3f3f3; }

/** Syntax highlighting styles */
.highlight pre { background-color: #1b1a1a; border: 1px solid #0e0d0d; border-radius: 8px; box-shadow: 1px 1px 16px #0e0d0d; }

@media screen and (max-width: 600px) { .highlight pre { padding: none; margin-left: -8px; margin-right: -8px; border-left: none; border-right: none; border-radius: 0; box-shadow: none; } }

.highlight .hll { background-color: #272822; }

.highlight .c { color: #75715e; }

/* Comment */
.highlight .err { color: #960050; background-color: #1e0010; }

/* Error */
.highlight .k { color: #66d9ef; }

/* Keyword */
.highlight .l { color: #ae81ff; }

/* Literal */
.highlight .n { color: #f8f8f2; }

/* Name */
.highlight .o { color: #f92672; }

/* Operator */
.highlight .p { color: #f8f8f2; }

/* Punctuation */
.highlight .cm { color: #75715e; }

/* Comment.Multiline */
.highlight .cp { color: #75715e; }

/* Comment.Preproc */
.highlight .c1 { color: #75715e; }

/* Comment.Single */
.highlight .cs { color: #75715e; }

/* Comment.Special */
.highlight .ge { font-style: italic; }

/* Generic.Emph */
.highlight .gs { font-weight: bold; }

/* Generic.Strong */
.highlight .kc { color: #66d9ef; }

/* Keyword.Constant */
.highlight .kd { color: #66d9ef; }

/* Keyword.Declaration */
.highlight .kn { color: #f92672; }

/* Keyword.Namespace */
.highlight .kp { color: #66d9ef; }

/* Keyword.Pseudo */
.highlight .kr { color: #66d9ef; }

/* Keyword.Reserved */
.highlight .kt { color: #66d9ef; }

/* Keyword.Type */
.highlight .ld { color: #e6db74; }

/* Literal.Date */
.highlight .m { color: #ae81ff; }

/* Literal.Number */
.highlight .s { color: #e6db74; }

/* Literal.String */
.highlight .na { color: #a6e22e; }

/* Name.Attribute */
.highlight .nb { color: #f8f8f2; }

/* Name.Builtin */
.highlight .nc { color: #a6e22e; }

/* Name.Class */
.highlight .no { color: #66d9ef; }

/* Name.Constant */
.highlight .nd { color: #a6e22e; }

/* Name.Decorator */
.highlight .ni { color: #f8f8f2; }

/* Name.Entity */
.highlight .ne { color: #a6e22e; }

/* Name.Exception */
.highlight .nf { color: #a6e22e; }

/* Name.Function */
.highlight .nl { color: #f8f8f2; }

/* Name.Label */
.highlight .nn { color: #f8f8f2; }

/* Name.Namespace */
.highlight .nx { color: #a6e22e; }

/* Name.Other */
.highlight .py { color: #f8f8f2; }

/* Name.Property */
.highlight .nt { color: #f92672; }

/* Name.Tag */
.highlight .nv { color: #f8f8f2; }

/* Name.Variable */
.highlight .ow { color: #f92672; }

/* Operator.Word */
.highlight .w { color: #f8f8f2; }

/* Text.Whitespace */
.highlight .mf { color: #ae81ff; }

/* Literal.Number.Float */
.highlight .mh { color: #ae81ff; }

/* Literal.Number.Hex */
.highlight .mi { color: #ae81ff; }

/* Literal.Number.Integer */
.highlight .mo { color: #ae81ff; }

/* Literal.Number.Oct */
.highlight .sb { color: #e6db74; }

/* Literal.String.Backtick */
.highlight .sc { color: #e6db74; }

/* Literal.String.Char */
.highlight .sd { color: #e6db74; }

/* Literal.String.Doc */
.highlight .s2 { color: #e6db74; }

/* Literal.String.Double */
.highlight .se { color: #ae81ff; }

/* Literal.String.Escape */
.highlight .sh { color: #e6db74; }

/* Literal.String.Heredoc */
.highlight .si { color: #e6db74; }

/* Literal.String.Interpol */
.highlight .sx { color: #e6db74; }

/* Literal.String.Other */
.highlight .sr { color: #e6db74; }

/* Literal.String.Regex */
.highlight .s1 { color: #e6db74; }

/* Literal.String.Single */
.highlight .ss { color: #e6db74; }

/* Literal.String.Symbol */
.highlight .bp { color: #f8f8f2; }

/* Name.Builtin.Pseudo */
.highlight .vc { color: #f8f8f2; }

/* Name.Variable.Class */
.highlight .vg { color: #f8f8f2; }

/* Name.Variable.Global */
.highlight .vi { color: #f8f8f2; }

/* Name.Variable.Instance */
.highlight .il { color: #ae81ff; }

/* Literal.Number.Integer.Long */
/* Generic Heading & Diff Header */
.highlight .gu { color: #75715e; }

/* Generic.Subheading & Diff Unified/Comment? */
.highlight .gd { color: #f92672; }

/* Generic.Deleted & Diff Deleted */
.highlight .gi { color: #a6e22e; }

/* Generic.Inserted & Diff Inserted */
/** Site footer */
.site-footer { background: #1b1a1a; border-top: 2px solid #F15A29; padding: 8px 0; z-index: 0; }

@media screen and (max-width: 600px) { .site-footer { padding: 0; } }

.footer-heading { font-size: 18px; margin-bottom: 16px; }

.contact-list, .social-media-list { list-style: none; margin: 0; }

.footer-col-wrapper { color: #b5b2b1; display: flex; flex-flow: row wrap; align-items: first baseline; margin-left: -8px; margin-right: -8px; }

.footer-col { font-size: 14px; padding: 8px; }

.footer-col-1, .footer-col-2 { flex: 1; }

.footer-col-3 { flex: none; }

/*# sourceMappingURL=main.css.map */