<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>{{ site.social.name }}</li>
          <li><a href="mailto:{{ site.social.email }}">{{ site.social.email }}</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          {%- for link in site.social.links %}
          {%- assign network = link | split: '/' | slice: 2 | join -%}
          {%- assign username = link | split: '/' | slice: -1 | join -%}
          <li title="{{ site.data.social[network].title }}">
            <a rel="me" href="{{ link }}">
              <i class="icon {{ site.data.social[network].font_awesome }}"></i>
              {{ username }}{{ site.data.social[network].username_suffix }}
            </a>
          </li>
          {%- endfor %}
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        {{ site.description }}
      </div>
    </div>

  </div>

</footer>
