{% comment %}
|_1_| 2 | 3 | > | 7 |
| 1 |_2_| 3 | > | 7 |
| 1 | 2 |_3_| > | 7 |
| 1 | < |_4_| > | 7 |
| 1 | < |_5_| 6 | 7 |
| 1 | < | 5 |_6_| 7 |
| 1 | < | 5 | 6 |_7_|
{% endcomment %}
{% assign first_page = paginator.page | minus: 2 | at_least: 1 %}
{% assign last_page = first_page | plus: 4 %}
{% assign penultimate_page = paginator.total_pages | minus: 1 %}
{% capture base_url %}{{ site.base_url }}/posts{% endcapture %}
<nav class="pagination" role="menubar">
  {% if first_page > 1 %}
    <a class="menu-item" href="{{ base_url }}">1</a>
    {% assign last_page = last_page | minus: 1 %}
  {% endif %}

  {% if first_page > 2 %}
    <a class="menu-item" href="{{ base_url }}/page{{ first_page }}">&lt;</a>
    {% assign first_page = first_page | plus: 2 %}
    {% assign last_page = last_page | minus: 1 %}
  {% endif %}

  {% for page in (first_page .. last_page) %}
    {% capture page_url %}{{ site.base_url }}/posts{% if page > 1 %}/page{{ page }}{% endif %}{% endcapture %}

    {% if page == paginator.page %}
      <span class="menu-item focus">{{ page }}</span>
    {% elsif page > paginator.total_pages %}
    {% else %}
      <a class="menu-item" href="{{ page_url }}" role="menuitem">{{ page }}</a>
    {% endif %}
  {% endfor %}

  {% if last_page < penultimate_page %}
    <a class="menu-item" href="{{ base_url }}/page{{ last_page | plus: 1 }}">&gt;</a>
  {% endif %}

  {% if last_page < paginator.total_pages %}
    <a class="menu-item" href="{{ base_url }}/page{{ paginator.total_pages }}">
      {{ paginator.total_pages }}
    </a>
  {% endif %}
</nav>
