{%- assign post = include.post | default: page -%}
{%- assign follows = site.posts | find_exp: "it", "it.id == post.follows" -%}
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">
      {%- if post == page -%}
        {{ post.title }}
      {%- else -%}
        <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      {%- endif -%}
    </h1>
    <div class="post-meta">
      {%- if post.path contains "_drafts/" %} <strong>DRAFT</strong> {% endif -%}
        <time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">
          {{- post.date | date: "%A, %Y-%m-%d" -}}
        </time>
      {% if post.author -%}
        by <span itemprop="author" itemscope itemtype="http://schema.org/Person">
          <span itemprop="name">{{ post.author }}</span>
        </span>
      {%- endif %}

      {%- include cat-tag.html post=post -%}
    </div>
    {%- if follows -%}
      <div class="post-meta">
        Follow-up to
          <a href="{{ follows.url | prepend: site.baseurl }}">
            {{- follows.title -}}
          </a>

        <blockquote>
        {{ follows.excerpt | strip_html }}
        </blockquote>
      </div>
    {%- endif -%}

  </header>

  <section class="post-content" itemprop="articleBody">
    {{ post.content }}
  </section>
</article>
