<article class="post-item">
  <header class="post-header">
    <h3 class="post-link">
      <a href="{{ include.post.url | prepend: site.baseurl }}" >
        {{ include.post.title }}
      </a>
    </h3>
    <div class="post-meta">
      {%- if include.post.path contains "_drafts/" %} <strong>DRAFT</strong> {% endif -%}
      {{ include.post.date | date: "%A, %Y-%m-%d" }}
      {%- if include.post.author %} • {{ include.post.author }} {% endif -%}
      {%- include cat-tag.html post=include.post %}
    </div>
  </header>
  <section class="post-excerpt">
    <blockquote>
      {{ include.post.excerpt | strip_html }}
    </blockquote>
  </section>
</article>
