<li class="post-item">
  <div class="post-link">
    <a href="{{ include.post.url | prepend: site.baseurl }}" >
      {% if include.post.path contains "_drafts/" %} [DRAFT] {% endif %}
      {{ include.post.title }}
    </a>
  </div>
  <blockquote class="post-excerpt">
    {{ include.post.excerpt | strip_html | strip_newlines }}
  </blockquote>
  <div class="post-meta">
    {{ include.post.date | date: "%A, %Y-%m-%d" }}
    {% if include.post.author %} • {{ include.post.author }} {% endif %}
    {% include cat-tag.html post=include.post %}
  </div>
  <div class="post-meta">
    <a href="{{ include.post.url | prepend: site.baseurl }}#disqus_thread" data-disqus-identifier="{{ include.post.id }}">No comments</a>
  </div>
</li>
