<article class="post-item" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">
      <a href="{{ include.post.url | prepend: site.baseurl }}" >
        {{ include.post.title }}
      </a>
    </h1>
  </header>

  <section class="post-content" itemprop="articleBody">
    {{ include.post.content }}
  </section>

  <footer class="post-meta">
    {% if include.post.path contains "_drafts/" %} <strong>DRAFT</strong> {% endif %}
    <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
      {{ include.post.date | date: "%A, %Y-%m-%d" }}
    </time>
    {% if include.post.author %}
      by
      <span itemprop="author" itemscope itemtype="http://schema.org/Person">
        <span itemprop="name">{{ include.post.author }}</span>
      </span>
    {% endif %}

    {% include cat-tag.html post=include.post %}
  </footer>

</article>
