<li class="post-item">
  <div class="post-header">
    <h1 class="post-title">
      <a href="{{ include.post.url | prepend: site.baseurl }}" >
        {{ include.post.title }}
      </a>
    </h1>
  </div>
  <div class="post-content">
    {{ include.post.content }}
  </div>
  <div class="post-meta">
    {% if include.post.path contains "_drafts/" %} <strong>DRAFT</strong> {% endif %}
    {{ include.post.date | date: "%A, %Y-%m-%d" }}
    {% if include.post.author %} • {{ include.post.author }} {% endif %}
    {% include cat-tag.html post=include.post %}
  </div>
</li>
