{%- assign name=include.name -%}
{%- assign meta=site.data.tags[name] -%}
{%- assign show_title = include.show_title | default(true) -%}
{%- assign excluded_posts = include.excluded_posts | default(false) -%}

{%- assign posts = "" | split: "," -%}
{%- for post in site.tags[name] -%}
  {%- if excluded_posts contains post %}{% continue %}{% endif -%}
  {%- assign posts = posts | push: post -%}
{%- endfor -%}

{%- if posts.size > 0 %}
  <li class="tag-item" id="tag-{{ name }}">
    <a href="/tag/{{ name }}/" title="{{ meta.title }}">#{{ name }}</a>
    <div class="tag-meta">
      {{ posts.size | pluralize: 'post', 'posts' }}
      {% if meta.description or meta.title %}
      about {{ meta.description | default: meta.title }}
      {% endif %}
    </div>
  </li>
{%- endif -%}
