/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}

/**
 * Basic styling
 */
html {
    font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
    color: $text-color;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
    min-height: 100vh;
    min-width: 100vw;
}

body {
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
}


/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit;
    @include media-query($on-palm) {
        margin-bottom: $spacing-unit/2;
    }
}

%list-rhythm {
    @extend %vertical-rhythm;
    display: list-item;
    padding: $spacing-unit $spacing-unit 0;
}

%horizontal-rhythm {
    margin-left: $spacing-unit;
    margin-right: $spacing-unit;
    @include media-query($on-palm) {
        margin-left: $spacing-unit/2;
        margin-right: $spacing-unit/2;
    }
}


/**
 * Images
 */
img {
    @extend %vertical-rhythm;
    @extend %horizontal-rhythm;
    max-width: 100%;
    vertical-align: middle;
    border: none;
    float: center;
    border-radius: $spacing-unit/2;
    box-shadow: 1px 1px $spacing-unit $background-color-dark;
    @include media-query($on-palm) {
        border-radius: $spacing-unit/4;
        box-shadow: none;
    }
}



/**
 * Figures
 */
figure > img {
    display: block;
}

figcaption {
    font-size: $small-font-size;
}



/**
 * Lists
 */
ul, ol {
    margin-left: $spacing-unit;
}

li {
    > ul,
    > ol {
         margin-bottom: 0;
    }
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
    font-weight: $base-font-weight;
}



/**
 * Links
 */
a {
    color: $brand-color;
    text-decoration: none;

    &:hover {
        color: $text-color;
        text-decoration: underline;
    }
}



/**
 * Blockquotes
 */
blockquote {
    color: $text-color-dark;
    font-style: italic;
    padding-left: 1ex;
    > :last-child {
        margin-bottom: 0;
    }
}

code, pre {
    background-color: $background-color;
    border: 1px solid $background-color-dark;
    font-family: $fixed-font-family;
    font-size: $fixed-font-size;
    overflow-x: auto;
}

code {
    border-radius: 5px;
    padding: 1px 5px;
}

pre {
    border-radius: 10px;
    padding: $spacing-unit/2 $spacing-unit/2;
    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}

/**
 * Wrapper
 */
.wrapper {
    @extend %clearfix;

    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
    max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;

    @include media-query($on-palm) {
        max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
        max-width:         calc(#{$content-width} - (#{$spacing-unit}));
        padding-right: $spacing-unit / 2;
        padding-left: $spacing-unit / 2;
    }
}



/**
 * Clearfix
 */
%clearfix {
    &:after {
        content: "";
        display: block;
        clear: both;
        overflow: auto;
    }
}



/**
 * Icons
 */
.icon {

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: $grey-color;
        }
    }
}
