/**
 * Page content
 */

.page-heading {
    font-size: 20px;
}

.post-list,
.post-title-list,
.tag-list,
.year-list {
    @extend %vertical-rhythm;
    margin-left: 0px;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.month-list,
{
    @extend %vertical-rhythm;
    list-style: none;

    > li {
        margin-bottom: none;
    }
}

.post-item,
.tag-item {
    padding: $spacing-unit $spacing-unit 0;
    background-color: $background-color-light;
    border: 1px solid $background-color-dark;
    border-radius: $spacing-unit;
    box-shadow: 1px 1px $spacing-unit $background-color-dark;

    @include media-query($on-palm) {
        padding: $spacing-unit/2;
        border-radius: $spacing-unit/2;
        box-shadow: none;
    }
}

.post-meta {
    flex: none;
    clear: both;
    font-size: $small-font-size;
    color: $text-color-dark;
}

div.post-link {
    flex: 1;
    font-size: 24px;
}

.post-excerpt {
}

.tag-meta {
    @extend %vertical-rhythm;
    margin-left: $spacing-unit;
    font-size: $small-font-size;
    color: $text-color-dark;
}

/**
 * Posts
 */
.post-header {
    @extend %vertical-rhythm;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    @extend %clearfix;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }

    .clear {
        clear: both;
        margin: 0px;
    }

    .right {
        clear: right;
        float: right;
        margin-right: 0px;
    }

    .left {
        clear: left;
        float: left;
        margin-left: 0px;
    }

    .max25 { max-width: 25%; }
    .max50 { max-width: 50%; }

    @include media-query($on-palm) {
        .left .right {
           float: none;
        }
    }

    .spoiler {
        color: $background-color;
        font-style: unset;
        background-color: $background-color;
    }
}

.footnotes {
    border-top: thin solid $brand-color;
    padding-top: 5px;
    color: $text-color-dark;
    margin-top: $spacing-unit;
}

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;

    min-width: 100%;
    margin-bottom: $spacing-unit;

    .menu-item {
        border: thin solid $background-color-dark;
        background-color: $background-color-light;
        border-radius: 5px;
        padding: 3px 5px;
        margin: 0 5px;
        flex-basis: 3em;

        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .menu-item.focus,
    .menu-item:hover {
        background-color: lighten($background-color-light, 5%);
        color: $text-color;
    }
}

@import "syntax-highlighting";
