---
layout: default
---
<ul class="post-list">
  <li>{% include post-content.html post=page %}</li>

  {%- assign posts = "" | split: "," -%}
  {%- for post in site.posts -%}
    {%- if post == page -%}
      {%- for next in posts -%}
        {%- if forloop.last -%}
          {%- assign posts = "" | split: "," | push: next -%}
        {%- endif -%}
      {%- endfor -%}
      {%- continue -%}
    {%- endif -%}

    {%- for tag in page.tags -%}
      {%- if post.tags contains tag -%}
        {%- assign posts = posts | push: post -%}
        {%- break -%}
      {%- endif -%}
    {%- endfor -%}
  {%- endfor -%}

  {%- for post in posts limit: 5 -%}
    {%- if forloop.first -%}
      <li><h2>Related posts</h2></li>
    {%- endif -%}
    {%- include post-excerpt.html post=post -%}
  {%- endfor -%}
</ul>
