---
layout: default
---
{%- assign follows =
      site.posts | find_exp: "it", "it.id == page.follows"
-%}
{%- assign followed =
      site.posts | where_exp: "it", "it.follows == page.id"
-%}
{%- assign followed_ids = followed | map: "id" -%}
{%- assign related = "" | split: "," -%}

{%- for post in site.posts -%}
  {%- if post == page -%}
    {%- assign next = related | last -%}
    {%- if next -%}
      {%- assign related = "" | split: "," -%}
    {%- endif -%}
    {%- continue -%}
  {%- endif -%}

  {%- if page.follows == post.id or followed_ids contains post.id -%}
    {%- continue -%}
  {%- endif -%}

  {%- assign related_tags =
        post.tags | find_exp: "tag", "page.tags contains tag"
  -%}
  {%- if related_tags -%}
    {%- assign related = related | push: post -%}
  {%- endif -%}
{%- endfor -%}

{%- include post-article.html post=page -%}

<section class="post-list">
  {%- assign followed = followed | reverse -%}
  {%- for post in followed -%}
    {%- if forloop.first -%}
      <h2>Follow-up</h2>
    {%- endif -%}
    {% include post-addendum.html post=post %}
  {%- endfor -%}

  {%- if next -%}
    <h2>Next related</h2>
    {%- include post-excerpt.html post=next -%}
  {%- endif -%}

  {%- for post in related limit: 3 -%}
    {%- if forloop.first -%}
      <h2>Previous related</h2>
    {%- endif -%}
    {%- include post-excerpt.html post=post -%}
  {%- endfor -%}
</section>
